html { 
  background: url(images/pikabackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#pokedex{
	height: 540px;
	width: 720px;
	position: fixed;
	top: 10%;
	right: 22%;
}
#outline{
	height: 540px;
	width: 720px;
	position: fixed;
	top: 10%;
	right: 22%;
}
#white-screen{
	height: 170px;
	width: 251px;
	border-radius: 14px;
	background: #fbfbfb;
	position: relative;
	overflow: scroll;
	top: 152px;
	left: 52px;
}
#name-list{
	margin-left: 10px;
	height: 170px;
	width: 160px;
	border-radius: 14px;
	background: #fbfbfb;
	position: relative;
}
.pokemon-name{
	font-family: 'Courier New', Courier, monospace;
}
#green-screen{
	height: 111px;
	width: 230px;
	background: #30fb04;
	border-radius: 14px;
	position: relative;
	top: -7px;
	left: 434px;
}
#left-side-buttons{
	height: 130px;
	width: 296px;
	position: relative;
	background: #fb0605;
	bottom: -100px;
	right: -28px;
}
#right-side-buttons{
	height: 230px;
	width: 260px;
	background: #fb0605;
	position: relative;
	top: -131px;
	left: 417px;
}